.Register{
    width:800px;
    margin-bottom: 5%;
    margin-Left: 350px;
    padding: 56px 60px;
    background: rgb(138,198,76);
    display: block;

}
.Register div :-ms-input-placeholder{
    width:50px;
    height: 20px;
}
.Register div span input{
    
    border: 2px solid  rgb(138,198,76);
    border-radius: 1px;
    color:rgb(138,198,76);
    font-weight: bold;
    box-shadow: 1px 1px 3px grey;
    width: 130px;
    height: 40px;
    margin-left: 110px;
    margin-top: 5px;
    
}
.Register form{
    display :flex;
}
.Register p{
    color:black;
    
}
.Register input{
    margin-right: 15px;

    font-size: 25px;
}
.Register h2{
font-size: 45px;
text-align: center;

}
@media(max-width:615px){
    .Register{
    
        margin-bottom: 10%;
        padding: 5px 5px;
        background: rgb(138,198,76);
        display: block
    }
    .Register h2{
    
    text-align: center;
    font-size: 15px;
    }
    .Register input{
    color: white;
        font-size: 40px;
        }
}