.App {
  text-align: center;
}
html {
 scroll-behavior: smooth;
    overflow-x: hidden;
}

.App img{
  width:100%;
  margin-top:70px ;
  height:320px;
  align-content: center;
}
.App h1{
  margin: 10px 0;
  line-height: 500px;
  width: 50%;
  text-align: center;
}
.App AUX{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media(max-width:615px){
  .App {
    text-align: center;
      
  }
  html {
    scroll-behavior: smooth;
  }

  .App  img{
    margin-top: 100px;
    width:100%;
    height:200px;
   overflow: scroll;
    text-align: center;
  
  }
  .App h1{
    margin: 10px 0;
    line-height: 500px;
    width: 50%;
  }
  .App AUX{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
}